<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="log" class="com.LogImpl"/>
    <bean id="service" class="com.ServiceImpl"/>

    <aop:config>
        <aop:pointcut id="myPointCut" expression="execution(* com.ServiceImpl.*(..))"/>
        <aop:aspect ref="log">

            <!--<aop:before method="before" pointcut-ref="myPointCut"/>-->
            <aop:after method="after" pointcut-ref="myPointCut"/>
             <!--<aop:after-returning method="afterReturn" pointcut-ref="myPointCut"/>-->
            <!--<aop:after-throwing method="throwAdvice" throwing="re" pointcut-ref="myPointCut"/>-->
            <!--<aop:around method="aroundAdvice"  pointcut-ref="myPointCut"/>-->
        </aop:aspect>
    </aop:config>
</beans>