<component name="ArtifactManager">
  <artifact type="war" name="spring-pageing-practice:war">
    <output-path>$PROJECT_DIR$/spring-pageing-practice/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-pageing-practice</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-pageing-practice-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-pageing-practice:war exploded" />
    </root>
  </artifact>
</component>